{% extends 'base.html' %}
{% block content %}
<h2>Admin Panel</h2>

<h3>System Logs</h3>
<table>
    <tr><th>User</th><th>Action</th><th>File</th><th>Hash</th><th>Time</th></tr>
    {% for log in logs %}
    <tr>
        <td>{{ log.user }}</td>
        <td>{{ log.action }}</td>
        <td>{{ log.file }}</td>
        <td>{{ log.manifest_hash }}</td>
        <td>{{ log.timestamp }}</td>
    </tr>
    {% endfor %}
</table>

<h3>DHT Overview</h3>
<table>
    <tr><th>Chunk Hash</th><th>Peers</th></tr>
    {% for chunk, peers in dht.items() %}
    <tr><td><code>{{ chunk }}</code></td><td>{{ peers }}</td></tr>
    {% endfor %}
</table>
{% endblock %}
